body {
    margin: 0px;
    font-size: 16px;
}

.main-container {
    width: 100%;
    max-width: 1800px;
    margin: 0px 0px auto;
    font-size: 1em;
}
/* header and nav */
header{
    background-color: rgba(0, 0, 0, .8);
    color: white;
    padding: 20px;
}

header nav {
    display: flex;
}

header nav span {
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
main section{
    overflow: hidden;
}

/* media query */

@media screen and (max-width:900px){
main{
    grid-template-columns: 2fr 4fr;
}
}

@media screen and (max-width:600px){
    main{
        grid-template-columns: 1fr;
    }
    header nav{
        flex-direction: column;
    }
    header nav span{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    .main-container{
        font-size: 1.5em;
    }
}